@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --bg--black-900: #000000;
    --bg--black-100: #dddddd;
    --bg--black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    

}

html {
    scroll-behavior: smooth;
}

/* body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
html,
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

/* table content styling start */
/* scroll-up-button */
.to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 45px;
    width: 42px;
    background-color: #1f425d;
    right: 30px;
    bottom: 10px;
    align-items: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.to-top.active {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.top-bar {
    background-color: #eaedf0;
    color: #8e9ba7;
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    font-size: 14px;
}

.top-bar>.containerrs {
    min-height: 38px;
}

.top-bar .containerrs {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    will-change: height;
}

.containerrs {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.containerrs::before {
    content: " ";
    display: table;
}

.container::after {
    clear: both;
}


.col-left,
.col-right {
    display: table-cell;
    padding-left: 25px;
    padding-right: 25px;
}

.col-left {
    width: 75%;
}

.col-right li {
    list-style: none;
    display: inline;
    padding: 5px 20px;
}

.col-inside {
    color: #8e9ba7;
    font-size: 15px;
    text-decoration: none;
}


/* header styling start */

.containerr {
    margin: 35px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.logo-left img {
    width: 300px;
}

.content-right {
    display: table;
    position: absolute;
    right: 10%;
    transform: translateY(-115%);
}

.widget {
    display: table-cell;
    vertical-align: middle;
    padding-right: 40px;
    color: #292929;
}

.widget .iconic {
    color: rgb(74, 185, 205);
}

.content-right .one {

    background-color: #f77171;
    height: 60px;
    padding: 0 10px;
    font-size: 20px;
    color: white;

}

/* nav bar styling */
nav {
    margin-left: 138px;
}

#menu-bar {
    background-color: #1f425d;
    padding: 15px 0;
    width: 80%;
    position: sticky;
}

.menu-inside {
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu-bar ul li {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
}

#menu-bar ul li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* .forth {
    height: 30px;
    width: 80px;
    position: relative;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 99;
}

.forth:hover .dropdown {
    display: block;
}

.dropdown {
    height: auto;
    width: 80px;
    background-color: #1f425d;
    position: absolute;
    display: none;
}

.dropdown a {
    color: white;
    display: block;
    font-size: 15px;
    text-decoration: none;
} */

/* a:hover{
    background-color: ;
    color:;

} */
.sticky {
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 99;

}

.home {
    height: 100%;
    padding: 0;
    min-height: 500px;
}

/* slider styling */
.slider {
    overflow: hidden;
    z-index: 88;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;

}

.slider figure img {
    width: 20%;
    float: left;

}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    85% {
        left: -300%;
    }

    95% {
        left: -400%;
    }

    100% {
        left: 500%;
    }
}

.text {
    position: absolute;
    width: 42%;
    display: block;
    visibility: visible;
    left: 60px;
    top: 400px;
}

.text-1 {
    font-size: 48px;
    color: white;
    margin-bottom: 25px;

}

.text span {
    font-size: 26px;
    color: white;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    background-color: #1f425d;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: white;
}

#myForm {
    transform: translate(145%, -80%);
    width: 80%;
    padding: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px (0, 0, 0, 0.3);
}

.text .btn-1 {
    margin: 73px 20px 0 0;
}

.form-container input::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-container input,
textarea,
select {
    width: 78%;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 4px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin: 0 0 0 35px;
    color: #6c757d;
    opacity: 1;

}

a {
    color: black;
    font-size: 25px;
    cursor: pointer;
}

/* .form-container {
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px (0,0,0,0.3);
  
  } */

.form-container h2 {
    color: #fff;
    text-align: center;
    margin: 10px auto;
    font-family: sans-serif;
    font-size: 25px;
}

label {
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    margin: 5px 35px;
    font-weight: 600;
}

input#btn-dark {
    color: #fff;
    background-color: #212529;
    border: none;
    cursor: pointer;
    width: 205px;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    margin: 10px 35px;
}

#myForm .pickdrop {
    display: inline-block;
}

#myForm .select-inside {
    display: inline-block;
}

.button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: black;
    padding: 10px 15px;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: red;
}

/* about section styling */
.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2:before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #1f425d;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.video-box {
    margin: 0px auto;
}

.about-section {
    padding: 80px 0 0;
    min-height: 100vh;
}

.about-section .about-img {
    flex: 0 0 40%;
    max-width: 60%;
    padding: 0 15px;
}

.about-section .about-info {
    flex: 0 0 60%;
    max-width: 40%;
    padding: 0 15px;
}

.about-section .about-img .img-box {
    padding: 0 15px;
    border-radius: 5px;
}

.about-section .about-img .img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 10px;
}

.about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}

.about-section .about-info span {
    font-weight: 600;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
    width: 30%;
    height: 30%;
    margin: 15px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
    background-color: var(--text-black-300);
}

.card-image {
    position: relative;
    height: 170px;
    width: 160px;
    border-radius: 50%;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FFF;
}

.position {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button1 {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #1f425d;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button1:hover {
    background: #1f425d;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

/* car variant section styling */
.car-section {
    padding: 80px 0 0;
    min-height: 100vh;
}

/* .roww2 {
    margin: 0 55px;
} */

.car-section .car-item {
    flex: 0 0 33.33%;
    max-width: 30.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.car-section .car-item-inner {
    padding: 40px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.car-section .car-item-inner .icon {
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 auto 30px;
    position: relative;
    color: var(--text-black-600);
}

.car-section .car-item-inner .icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all0.3s ease;
}

.car-section .car-item-inner:hover .icon {
    box-shadow: var(--inner-shadow-0);
}

.car-section .car-item-inner:after .icon {
    box-shadow: var(--outer-shadow);
}

.car-section .car-item-inner .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.car-section .car-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.car-section-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 25px;
}

.roww2 {
    display: flex;
    flex-wrap: wrap;
}

.car-section .car-item-inner:hover .icon i {
    color: #1f425d;
}

/* image slideshow */
.shown {
    height: 100vh;
    width: 100%;
    background-image: url(./carimages/sliders1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animation;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        background-image: url(./carimages/sliders2.jpg);

    }

    20% {
        background-image: url(./carimages/sliders3.jpg);
    }

    40% {
        background-image: url(./carimages/sliders4.jpg);

    }

    60% {
        background-image: url(./carimages/sliders2.jpg);

    }

    80% {
        background-image: url(./carimages/sliders4.jpg);
    }

    100% {
        background-image: url(./carimages/sliders3.jpg);
    }
}

.image-content1 {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.overlay1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
}

/* .card-image1 {
    position: relative;
    height: 170px;
    width: 300px;
    background: #FFF;
    padding: 3px;
} */

.card-image1 .card-img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text1 {
    position: absolute;
    width: 40%;
    display: block;
    visibility: visible;
    left: 0px;
    top: 1px;
    color: white;
    background-color: black;
    border-radius: 0px 20px 0 20px;
}

/* service section styling */
.service-section {
    padding: 80px 0 0;
    min-height: 100vh;
}

.service-section .service-item {
    flex: 0 0 100.33%;
    /* max-width: 33.33%; */
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.service-section .service-item-inner {
    padding: 40px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.service-section .service-item-inner .icon {
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 auto 30px;
    position: relative;
    color: var(--text-black-600);
}

.service-section .service-item-inner .icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all0.3s ease;
}

.service-section .service-item-inner:hover .icon {
    box-shadow: var(--inner-shadow-0);
}

.service-section .service-item-inner:after .icon {
    box-shadow: var(--outer-shadow);
}

.service-section .service-item-inner .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.service-section .service-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.service-section .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 25px;
}

.service-section .service-item-inner:hover .icon i {
    color: #1f425d;
}

/* contact section styling */
.contact-section {
    padding: 80px 0 0;
    min-height: 100vh;
}

.contact-section .map {
    float: left;
}

.contact-section .contact-form {
    float: right;
    padding: 0 80px;
}

/* contact-form styling */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    max-width: 100%;
    margin-top: 2%;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
}

/*footer section start*/
.footer {
    background: #333;
    color: #fff;
}

.footer__container {
    padding: 20px;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 32px;
    margin-top: 18px;
    color: #fff;
    font: 18px;

}

.text-center1 {
    font-size: 25px;
    padding: 7px 0;
    font-weight: 600;
}

.text-center {
    font-size: 15px;
    padding: 5px 0;
}

ul {
    list-style: none;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.footer__social-link {
    font-size: 40px;
    padding: 8px;
    border-radius: 8px;
    font-weight: 800;
}

ul i {
    color: #111;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
}

.footer__link {
    color: #6c757d;
    font-size: 19px;
    display: inline-flex;
    margin: 0 35px;
}

.footer-para {
    font-size: 23px;
    margin: 20px 50px;
    color: crimson;
}

.footer__copy {
    display: block;
    margin-top: 32px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background-color: #000000;
}

/* responsive */
@media(width > 991px) {
    .top-bar .top-bar-close {
        visibility: hidden;
        display: none;
    }
}

@media(width <=1300px) {
    .col-left {
        padding: 5px 150px;
    }

    .col-right li {
        padding: 5px 12px;

    }

    .content-right {

        transform: translateY(-98%);
        right: 2%;
    }

    .logo-left img {
        width: 200px;
    }

    .widget {
        display: table-cell;
        vertical-align: middle;
        padding-right: 20px;
    }

    #menu-bar {
        margin: 0 auto;
        width: 80%;
    }

    nav {
        margin-left: 100px;
    }

    #menu-bar ul li {
        padding: 0 20px;
        text-align: center;
    }

    .text {
        left: 50px;
        top: 375px;
    }

    .text-1 {
        font-size: 35px;
    }

    .text span {
        font-size: 18px;
    }

    .text .btn-1 {
        margin: 18px 20px 0 0;
    }

    #myForm {
        transform: translate(110%, -50%);
        width: 98%;
    }

    .form-container input,
    textarea,
    select {
        width: 70%;
    }

    #myForm .pickdrop {
        display: block;
    }

    #myForm .select-inside {
        display: block;
    }

    #myForm .pickdrop {
        display: inline-block;
        width: 49%;
    }

    .about-section .about-info p {
        font-size: 15px;
    }

    .car-section .car-item-inner {
        padding: 18px 15px;
    }

    .car-section .car-item {
        padding: 40px;
        flex: 0 0 25.33%;
    }

    .service-section .service-item {
        flex: 1 0 96.33%;
    }

    .map-responsive iframe {
        max-width: 70%;
        padding: 3rem 5rem;
    }

    .contactForm {
        width: 27%;
        margin: 0 -65px;
    }
}

@media(max-width: 991px) {

    .top-bar-close {
        background: none;
        border: none;
        bottom: 0;
        left: 50%;
        padding: 0px;
        position: absolute;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: .4s transform;
        cursor: pointer;
        width: 100%;
        height: 40px;
        display: grid;
    }
    #menu-bar .menu-inside li a:hover {
        color: crimson;
    }
    .top-bar {
        height: 40px;
        display: table;
    }

    /* button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
        overflow: hidden;
    } */


    .top-bar>.containerrs {
        min-height: 80px;
    }

    .container-one {
        position: relative;
        width: 750px;
        padding-bottom: 5px;
        margin: 35px auto;
    }

    .containerrs {
        display: none;
    }

    .col-left {
        display: grid;
        padding: 0px 100px;
        text-align: center;
    }

    .col-right {
        display: grid;
        text-align: center;
    }

    .card {
        width: 30%;
        height: 30%;
        margin: 1px;
    }

    #showdown {
        color: #8e9ba7;
    }

    #showup {
        color: #8e9ba7;
    }

    #showdown {
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
    }

    #showdown.down {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .content-right {
        display: none;
    }

    .logo-left img {
        width: 260px;
    }

    .menu-btn {
        display: block;
        text-align: center;
        z-index: 999;
        position: relative;
    }

    #menu-bar:hover {
        background-color: #7979e9;
    }

    #menu-bar {
        z-index: 999;
        display: block;
        padding: 7px 0;
        background-color: black;
        width: 5%;
        border-radius: 13px;
        margin-top: -94px;
        margin-left: 88%;
        margin-bottom: 20px;
        transition: all 0.3s ease;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    #menu-bar .menu-inside {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        display: block;
    }

    #menu-bar .menu-inside.active {
        left: 0;
    }

    #menu-bar .menu-inside li {
        display: block;
    }

    #menu-bar .menu-inside li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    video {
        width: 400px;
    }

    .car-section .car-item {
        flex: 0 0 31.33%;
        margin: 0 auto;
    }

    .slider {
        height: 550px;
    }

    .map-responsive {
        width: 50%;
    }

    .map-responsive iframe {
        max-width: 80%;
        padding: 1rem 2rem;
    }

    .contactForm {
        width: 30%;
        margin: 0 30px;
    }

    .text-center1 {
        font-size: 20px;
        padding: 6px 0;
    }

    .footer__list {
        column-gap: 0;
    }

    .footer__link {
        font-size: 16px;
    }

    col-sm-12 {
        font-size: 15px;
    }

    .text {
        left: 40px;
        top: 265px;
        width: 40%;
    }

    .text-1 {
        font-size: 29px;
    }
}

@media(max-width: 767px) {
    .top-bar {
        width: 120%;
    }

    .col-left {
        padding: 0px 18px;
    }

    .col-left,
    .col-right {
        padding-left: 18px;
        padding-right: 165px;
    }

    #menu-bar {
        width: 6%;
    }

    .top-bar-close {
        left: 40%;
    }

    .text {
        width: 40%;
    }

    .text-1 {
        font-size: 25px;
    }

    .text span {
        font-size: 15px;
    }

    .pickdrop label {
        font-size: 11px;
    }

    input#btn-dark {
        width: 165px;
    }

    #myForm {
        transform: translate(110%, -55%);
        width: 98%;
    }

    .about-section .about-info {
        flex: 0 0 100%;
        max-width: 90%;
        padding: 0 40px;
    }

    video {
        width: 550px;
    }

    .card {
        width: 35%;
        display: inline-block;
        margin: auto;
        margin: 58px 0px 58px 67px;
    }

    .card-wrapper {
        padding-top: 30px;
        display: block;
    }

    .card-content .name {
        font-size: 16px;
        font-weight: 600;
    }

    .car-item-inner .card-image1 {
        height: 160px;
        width: 189px;
    }

    .card-image1 .card-img1 {
        height: 85%;
        width: 100%;
        object-fit: cover;
    }

    .car-item-inner .text1 {
        width: 62%;
        left: 40px;
        top: 150px;
    }

    .map-responsive {
        width: 95%;
    }

    .map-responsive iframe {
        max-width: 100%;
        padding: 1rem 2rem;
    }

    .contactForm {
        width: 80%;
        margin: 0 60px;
    }

    .shown {
        height: 50vh;
    }
    .video-box {
        margin: 50px auto;
      }

    .text-center {
        font-size: 12px;
    }

    .footer__list {
        column-gap: 0;
        text-align: center;
        display: block;
    }
}



@media(max-width: 547px) {
    .about-section {
        padding: 100px 0 0;
    }
    .car-section {
        padding: 100px 0 0;
    }
    .service-section {
        padding: 100px 0 0;
    }
    .contact-section {
        padding: 100px 0 0;
    }
    .card {
        margin: -45px 0px auto 60px;
    }

    .card-wrapper {
        padding-bottom: 150px;
    }

    .service-section .service-item {
        flex: 1 0 80.33%;
    }

    .top-bar {
        width: 120%;
    }

    .container-one {
        width: 120%;
    }

    .logo-left img {
        width: 200px;
        margin-left: -30px;
    }

    #menu-bar {
        margin-top: -85px;
        margin-left: 85%;
        width: 11%;
    }

    .contactForm {
        width: 69%;
        margin: 0 45px;
    }
    .col-left,
    .col-right {
        padding-right: 95px;
    }
    .text {
        width: 80%;
    }

    .text-1 {
        font-size: 24px;
    }

    .text span {
        font-size: 17px;
    }

    #myForm {
        transform: translate(-1%, -51%);
        width: 98%;
        padding: 0px;
        background: black;
    }

    .about-section .about-info {
        flex: 0 0 80%;
        max-width: 100%;
        padding: 35px 50px;
    }

    .card-wrapper {
        padding-top: 30px;
        display: block;
        padding-bottom: 100px;
    }

    .card {
        width: 70%;
        display: inline-block;
        margin: -21px 0px auto 63px;
    }

    video {
        width: 340px;
    }

    .roww2 {
        display: block;
    }

    .car-section .car-item {
        max-width: 85.33%;
    }

    col-sm-12 {
        font-size: 12px;
    }
    .form-container input, textarea, select{
        padding: 8px;
    }
}